.card {
  background-color: rgb(255, 255, 255);
  font-family: "Bebas Neue", sans-serif;
  border: 1px solid rgb(0, 230, 246);
  color: rgb(0, 230, 246, 0.5);
  text-shadow: 2px 2px rgb(255, 1, 60, 0.8);
  border-radius: 4px;
  box-shadow: rgb(0, 230, 246) -5px 5px, rgb(255, 1, 60, 0.8) -10px 10px,
    rgb(255, 1, 60, 0.4) -15px 15px, rgb(255, 1, 60, 0.2) -20px 20px,
    rgb(255, 1, 60, 0.1) -25px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 1rem;
  max-width: calc(33% - 2rem);
  min-height: calc(50vh - 1rem);
  padding: 1rem;
}
.card:nth-child(even) {
  box-shadow: rgb(0, 230, 246) 5px -5px, rgb(255, 1, 60) 10px -10px,
    rgb(255, 1, 60, 0.4) 15px -15px, rgb(255, 1, 60, 0.2) 20px -20px,
    rgb(255, 1, 60, 0.1) 25px -25px;
}

.blinking-cursor::after {
  content: "|";
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
